- content_for :page_title, 'Statistics'

%section{id: "statistics", class: ""}
  %header.page_head
    %h1{class: page_title_classes} Statistics
  .wrapper
    %article
      %header
        %h1{class: page_title_classes + " text-lg"} Last 30 days
      %ul{id: "activity", class: "activity_chart bg-white/90 p-8 h-[10vw] min-h-[12rem] flex items-stretch"}
        - posts_per_day.each do |ppd|
          %li(data-date="#{ppd.label}" data-amount="#{ppd.count}" class="#{if ppd.count == 1 then 'singular' end} relative flex-1 bar")
            %div{class: "peer hover:bg-white bottom-0 absolute left-0 right-0", style: "height: 100%"}
            %div{class: "peer hover:bg-black peer-hover:bg-black bg-blue activity_chart_bar bottom-0 absolute left-0 right-0", style: "height: #{(ppd.count.to_f/highest_count_last_30_days) * 100}%"}
            %div{class: "absolute bottom-[100%] w-[10rem] bg-white w-24 rounded text-sm hidden peer-hover:block mb-1 italic left-[-50%]"}
              = ppd.label
            %div{class: "absolute top-[100%] text-sm hidden peer-hover:block w-[10rem] mt-1 italic left-[-50%]"}
              = pluralize(ppd.count, "post")
    %article
      %header
        %h1{class: page_title_classes + " my-6"} Hottest TILs
      %ul.post_list.flex.flex-col.gap-1
        - hot_posts.each do |hp|
          %li{class: "bg-white"}
            = link_to post_path hp do
              %div{class: "flex items-center justify-between p-2"}
                %b
                  = hp.title
                %small.text-blue.italic
                  \##{hp.channel.name}
                  %span •
                  #{pluralize(hp.likes, 'like')}
    %article
      %header
        %h1{class: page_title_classes + " my-6"} Most liked TILs
      %ul.post_list.flex.flex-col.gap-1
        - top_ten.each do |tt|
          %li{class: "bg-white"}
            = link_to post_path tt do
              %div{class: "flex items-center justify-between p-2"}
                %b
                  = tt.title
                %small.text-blue.italic
                  \##{tt.channel.name}
                  %span •
                  #{pluralize(tt.likes, 'like')}
    %div{class: "flex flex-col md:justify-between md:flex-row gap-6"}
      .stats_column.flex-1
        %article
          %header
            %h1{class: page_title_classes + " text-lg my-6"} #{pluralize channels.sum(&:count), "post"} in #{pluralize channels.count, "channel"}
          %ul.post_list#channels.flex.flex-col.gap-1
            - channels.each do |stat|
              %li{class: "bg-white"}
                = link_to channel_path stat.label do
                  %div{class: "flex items-center justify-between p-2"}
                    %b ##{stat.label}
                    %small.text-blue.italic #{pluralize(stat.count, 'post')}

      .stats_column.flex-1
        %article
          %header
            %h1{class: page_title_classes + " text-lg my-6"}  #{pluralize authors.count, "author"}
          %ul.post_list#authors.flex.flex-col.gap-1
            - authors.each do |stat|
              %li{class: "bg-white"}
                = link_to developer_path stat.label do
                  %div{class: "flex items-center justify-between p-2"}
                    %b= stat.label
                    %small.text-blue.italic #{pluralize(stat.count, 'post')}
