%article.post{ class: "flex align-start mb-[3vw] justify-center" }
  %section{class: "bg-white drop-shadow-md"}
    .post__content.copy{class: "p-4 md:p-14"}
      %h1{class: "text-2xl font-semibold"}= link_to post.title, post
      =  markdown_render post.body
      %footer{class: "primary-typeface italic"}
        - if content_for?(:social)
          %p{class: "post__social text-red"}= content_for :social
        %p.text-right.pt-8
          = link_to post.developer_username, post.developer,class: "block hover:underline"
          = link_to post.display_date.strftime("%B %-e, %Y"), post, class: "post__permalink font-['Lora'] text-xs hover:underline"
          - unless post.published?
            (draft)
    %aside{class: "p-1"}
      %ul{class: "flex w-full flex-col md:flex-row uppercase gap-1 font-['Raleway'] font-medium text-sm"}
        %li{class: "flex-auto text-green border-t-2 border-t-green hover:bg-green/10"}
          = link_to "##{post.channel_name}", post.channel, class: "post__tag-link block text-center py-2 px-4"
        %li{class: "flex-auto text-blue border-t-2 border-t-blue hover:bg-blue/10"}
          = link_to post, class: 'post__permalink block text-center py-2 px-4' do
            permalink
        %li{class: "flex-auto text-purple border-t-2 border-t-purple hover:bg-purple/10"}
          = link_to [post, format: 'md'], class: "post__raw-link block text-center py-2 px-4", target: "_blank" do
            raw
        - if editable?(post)
          %li{class: "flex-auto text-blue border-t-2 border-t-blue hover:bg-blue/10"}
            = link_to "edit", [:edit, post], class: "post__edit-link block text-center py-2 px-4"
        - unless post.draft?
          %li{class: "flex-auto border-t-2 border-t-pink cursor-pointer hover:bg-red/10"}
            = turbo_frame_tag("posts_#{post.id}") do
              = button_to [post, (cookies.encrypted[post.id.to_s] == true ? :unlike : :like), id: post.id], form: {class: "js-like-action post__like-link flex items-center justify-center text-pink text-center"}, class: "py-2 px-4 w-full", id: post.slug do
                %span{class: "post__like-label flex items-center justify-center gap-1 text-navy"}
                  = icon("heart", cookies.encrypted[post.id.to_s] == true ? :unlike : :like, "post__like-label h-5 w-5 text-blue animated #{(cookies.encrypted[post.id.to_s] == true ? "text-red" : "animate-pulse opacity-90")}")
                  %span.post__like-count.text-pink= post.likes

= content_for :post_nav
